<!DOCTYPE html>
<html lang="en", dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>O projekcie</title>
</head>
<body>
    {% extends "template.html" %}
    {% block content %}

    <h1>O projekcie</h1>
    <p>Projekt strony internetowej wykonany został w oparciu o tutorial freeCodeCamp</p>
    <p>Flask jest micro-frameworkiem języka Python, przeznaczonym do budowy aplikacji webowych.
        Jest on wykorzystywany między innymi przez Pinterest i LinkedIn.</p>

    {% endblock %}
</body>
</html>